/* primary color Rebeccapurple */
/* secondary color Whitesmoke */

.brand-name, nav ul.navbar-nav > li {
    font-family: Gabriola, sans-serif !important;
    font-size: 1.5rem !important;
}

#home, #products, #about {
  scroll-margin-top: 90px; 
}

#home img {
    opacity: 0;
    animation: fadeUp 2s ease-in forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
    }
}

.hero-button {
    color: rebeccapurple !important;
    background-color: white;
    border: solid rebeccapurple 2px !important;
    border-radius: 7px;
    font-weight: 600;
    padding: 4px 20px;
}

.hero-button:hover, .hero-button:active, .hero-button:focus {
  color: white !important;
  background-color: rebeccapurple !important;
}

#snap-shot, #about {
    background-color: whitesmoke;
}

.stat-card {
    background-color: rebeccapurple;
    border-radius: 8px;
}

.text-card {
    border-right: 2px solid white;
    border-left: 2px solid white;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.product-card {
    border: 1px solid gray;
    border-radius: 10px;
}

.product-card h3 {
    padding: 15px 15px 0 15px;
}

.product-card p {
    padding: 0px 15px 0 15px;
}

.product-card img {
    padding: 10px;
    overflow: hidden;
}

#about {
    background-color: whitesmoke;
}

#about h3 {
    line-height: 1.5;
    color: rebeccapurple;
}

#about p {
    line-height: 1.5;
}
