/* primary color Rebeccapurple */
/* secondary color bootstrap .bg-body-secondary-gradient */

.brand-name {
    font-family: Gabriola, sans-serif !important;
    font-size: 1.5rem !important;
}

.navbar-nav a.active {
  font-weight: 600;
  color: #000; 
  border-top: solid currentColor 2px;
}

#home, #products, #about, #contact {
  scroll-margin-top: 90px; 
}

#home img {
    opacity: 0;
    animation: fadeUp 1.5s ease-in forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
    }
}

.hero-button {
    color: rebeccapurple !important;
    background-color: white;
    border: solid rebeccapurple 2px !important;
    border-radius: 7px;
    font-weight: 600;
    padding: 4px 20px;
}

.hero-button:hover, .hero-button:active, .hero-button:focus {
  color: white !important;
  background-color: rebeccapurple !important;
}

.stat-card {
    background-color: rebeccapurple;
    border-radius: 8px;
}

.text-card {
    border-right: 2px solid white;
    border-left: 2px solid white;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.product-card {
    border: 1px solid gray;
    border-radius: 10px;
}

.product-card h3 {
    padding: 15px 15px 0 15px;
}

.product-card p {
    padding: 0px 15px 0 15px;
}

.product-card img {
    padding: 10px;
    overflow: hidden;
}

#contact img {
    height: 22px;
    width: auto;
}

#contact a {
    font-weight: 300;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

#contact a:hover {
    color: rebeccapurple;
    font-weight: 400;
}

footer img {
    height: 40px;
    width: auto;
    padding: 5px;
}

footer hr {
    margin-top: 0 !important;
}
